<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>uisu</title>

		<link rel="stylesheet" href="lib/normalizecss/normalize.min.css"/>
		<link rel="stylesheet" href="lib/bootstrap-grid/bootstrap-grid.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		
		<script src="lib/jquery/jquery-1.11.3.min.js" ></script>
		<script src="js/index.js"></script>

	</head>

	<body>
		<div>hi</div>
		<input type="" name="" id="" value="321" />
	</body>

</html>